.about {
    height: 100vh;
    width: 75vw;

    
    margin: 0 auto;
    padding-top: 10vh;

    text-align: center;
}
.about u {
    font-size: 40px;
}
.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;


    padding: 60px;
}
.about-content__avatar {
    position: relative;
    height: 50vh;
    width: 20vw;
    padding: 30px;
    animation: avatar 2s 1 linear;
}
.about-content__avatar:hover::before,
.about-content__avatar:hover::after {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
}
.about-content__avatar::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 50px;
    width: 50px;   
    border-top: 10px solid var(--gray);
    border-left: 10px solid var(--gray);

    transition: all 0.5s ease;
}
.about-content__avatar::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    height: 50px;
    width: 50px;
    border-bottom: 10px solid var(--gray);
    border-right: 10px solid var(--gray);

    transition: all 0.5s ease;
}
.about-content__avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.about-content__infomation {
    height: 50vh;
    width: 40vw;

    padding: 30px;
    border: 2px solid gray;

    text-align: left;
    color: var(--gray);
}
.about-content__infomation p {
    padding: 10px 0;
}

@keyframes avatar {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes opa {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}