.about {
    height: 100vh;
    width: 75vw;

    
    margin: 0 auto;
    padding-top: 10vh;

    text-align: center;
}
.about u {
    font-size: 40px;
}
.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;


    padding: 60px;
}
.about-content__avatar {
    height: 50vh;
    width: 20vw;

    background-color: red;
}
.about-content__avatar img {
    padding: 20px;
    object-fit: cover;

}
.about-content__infomation {
    height: 50vh;
    width: 40vw;

    background-color: blue;
}