@import url(./variable.css);

.header {
    height: 6vh;
    width: 100vw;

    margin: 0 auto;

    
}
.header__content {
    display: flex;

    height: 100%;
    width: 90vw;
} 
.header__content div {
    height: 100%;
    width: 30vw;
}