.home {
    height: 100vh;
    width: 75vw;

    
    margin: 0 auto;
    padding-top: 10vh;
    text-align: center;
}
.home-content {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}
.home-image img {
    height: 80vh;
    width: 30vw;

    object-fit: cover;
}
.home-infomation {
    height: 80vh;
    width: 40vw;

    border: 2px solid var(--gray);

    color: var(--gray);
    font-size: 20px;
    text-align: left;
    padding: 20px;

}
.home-infomation span {
    font-size: 26px;
    font-weight: 600;
}
.home-infomation p {
    padding-top: 20px;
}
.home-infomation div {
    margin-bottom: 20px;
}
.home-infomation__favorite img {
    height:180px;
    width:180px;

    object-fit: cover;
    margin-right: 40px;
}