@import url(./variable.css);

.intro {
    height: 100vh;
    width: 100vw;
    background-color: var(--black);

    color: var(--white);
    text-align: center;
    line-height: 100vh;

    font-size: 60px;
    font-weight: 600;

    /* animation: up 5s  infinite linear; */
}
.intro  span {
    display: inline-block;
}
.text-1 {
    display: inline-block;

    height: 50px;
    width: 50px;
    background-color: white;

    border: 5px solid var(--white);
    border-radius: 50%;

    animation: up 5s  infinite linear;
}
/* .text-2 {
    animation-delay: 4s;
    animation: up 5s  infinite linear;
}
.text-3 {
    animation-delay: 5s;
    animation: up 5s  infinite linear;
}
.text-4 {
    animation-delay: 6s;
    animation: up 5s  infinite linear;
} */
.text-1 div {
    height: 30px;
    width: 30px;
    background-color: white;

    border: 10px solid var(--black);
    border-right: transparent solid 10px;
    border-radius: 50%;

    animation: xoay 5s  infinite linear;
}

@keyframes xoay {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes up {
    0% {
        transform: translateY(30px);
    }
    25% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}