.projects {
    height: 100vh;
    width: 75vw;

    
    margin: 0 auto;
    padding-top: 10vh;
}
.project-list {
    height: 100%;
    width: 100vw;
}
.project-list div {
    width: 30vw;
}
.project-list__one img{
    height: 100px;
    width: 100px;
}