.projects {
    height: 100vh;
    width: 75vw;

    
    margin: 0 auto;
    padding-top: 10vh;
}
.project-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


    height: 100%;
    width: 100vw;
}
.project-list img{
    height: 30vh;
    width: 30vw;
}