.technologies {
    height: 100vh;
    width: 75vw;

    
    margin: 0 auto;
    padding-top: 10vh;

    text-align: center;
}
.technologies u {
    font-size: 40px;
}
.technologies__content {
    width: 75vw;
    text-align: left;
}
.technologies__content-1,
.technologies__content-2 {
    height: 30vh;
    width: 75vw;

    background-color: var(--white);
    margin-top: 30px;
}